body {
  font-family: 'Cardo', sans-serif;
  overflow-x: hidden;
  color: #33334d !important;
}

.title {
  font-weight: 500;
  text-shadow: 1px 1px rgb(221, 218, 218);
}

.sub-title {
  font-size: 1.2rem;
}

.parrallax-img {
  background-position: relative;
  opacity: 0.9;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  height: 400px;
  background-image: url(img/snakeriver.jpg);
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.about-box {
  border-radius: 15px;
}

.my-pic {
  height: 100px !important;
  width: 100px !important;
  float: right !important;
  margin: 1rem 0 1rem 1rem;
  border-radius: 50%;
}

.btn,
.copyright,
.new-poem,
.about {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.card-columns {
  column-count: 5;
}

h5 {
  font-weight: 600;
}

input {
  width: 76% !important;
  min-width: 76% !important;
  margin-top: 0.3rem;
}

.footer-icons {
  color: white;
}


@media (max-width: 950px) and (min-width: 750px) {

  .title {
    font-size: 1.9rem;
    margin-top: 1.5rem !important;
  }

  h4 {
    font-size: 1.0rem;
  }

}

@media (max-width:700px) {

  body {
    font-family: 'Cardo', sans-serif !important;
    overflow-x: hidden !important;
  }

  .title {
    font-size: 1.3rem;
    margin: 15px 0px 0px 10px !important;
  }

  .sub-title {
    margin: 0px 0px 3px 10px !important;
    font-size: 0.8rem;
  }

  /*
  .fb-share-button {
    margin-top: -3.2rem !important;
  }  */

  .parrallax-img {
    display: none !important;
  }

  .about-box {
    font-size: 1.0rem;
    margin: -1.7rem 1.0rem 0 0.9rem;
  }

  .my-pic {
    height: 100px !important;
    width: 100px !important;
  }

  .card-columns {
    column-count: 1;
  }

  p {
    font-size: 0.6rem;
  }

  .footer-icons {
    size: 20% !important;
  }

}